@{    
    Layout = null;
}
<div class="content-heading">

        <p>Calendário de Eventos</p>

</div>
<div class="row">
    <div class="col-xs-12 text-center">        
        <div ui-calendar ng-model="eventSources"></div>
    </div>
</div>
