@{    
    Layout = null;
}
<div class="content-heading">
            <p>Criar Usuário</p>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-12">
        <div class="panel panel-default">            
            <div class="panel-body">
                <div class="bg-danger-light validationErrors" ng-show="vm.validationErrors && vm.validationErrors.length">
                    <ul>
                        <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                    </ul>
                </div>
                <form name="formUsuario" novalidate autocomplete="off">
                    <div class="form-group">
                        <label>Nome:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-info"></i></span>
                            <input type="text"
                                   name="nome"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="vm.usuario.nome" />
                        </div>
                        <p ng-show="formUsuario.nome.$error.required" class="aviso-erro">
                            Digite o nome do usuário
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Sobrenome:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-info"></i></span>
                            <input type="text"
                                   name="nome"
                                   class="form-control"                                   
                                   ng-model="vm.usuario.sobrenome" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="vm.usuario.email" />
                        </div>
                        <p ng-show="formUsuario.nome.$error.required" class="aviso-erro">
                            Digite o email do usuário
                        </p>
                    </div>

                    <div class="form-group">
                            <div ng-repeat="c in vm.casasU" class="checkbox c-checkbox">
                                <label>
                                    <input type="checkbox" ng-click="vm.selecCasa(c.id)">
                                    <span class="fa fa-check"></span> {{c.nomeCasa}}
                                </label>
                            </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-success" 
                                ng-click="vm.salvaUsuario(vm.usuario)"
                                ng-disabled="formUsuario.$invalid">
                            Criar Usuário <i class="fa fa-check"></i>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
