@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Sistema Dux - Resetar Senha</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<body>

    <div class="block-center mt-xl wd-xl">
        <div class="panel panel-dark panel-flat">
            <div class="panel-body">
                <b>Erro</b>

                <p>Solicite uma nova senha novamente.</p>
            </div>
        </div>
    </div>        
</body>
</html>
